
*.exe
*.json
*.props
*.dll
*.txt
*.cache
*.pdb
*.targets
Server/bin/Debug/netcoreapp3.1/Server.dll.config
Server/obj/Debug/netcoreapp3.1/Serverr.AssemblyInfo.cs
Server/obj/Debug/netcoreapp3.1/Server.AssemblyInfo.cs
Server/obj/Debug/netcoreapp3.1/SDUFG.AssemblyInfo.cs
Server/obj/Debug/netcoreapp3.1/CLIENT.AssemblyInfo.cs
Server/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Logic/obj/Debug/net5.0/Logic.GeneratedMSBuildEditorConfig.editorconfig
Logic/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Logic/obj/Debug/net5.0/Logic.AssemblyInfo.cs
Client/Properties/AssemblyInfo.cs
Client/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Client/bin/Debug/Client.exe.config
ClientVB/Properties/AssemblyInfo.vb
ClientVB/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.vb
ClientVB/bin/Debug/Client.exe.config
Server/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
*.editorconfig
Server/obj/Debug/net5.0/Server.AssemblyInfo.cs
Client/obj/Debug/net5.0/Client.AssemblyInfo.cs
Client/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
.vs/Socket-ClienteServer/v16/.suo
*.CopyComplete
*.v2
/Data/obj/Debug/net5.0/Data.AssemblyInfo.cs
/Data/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
